.CodeMirror {
  color: #f8f8f2;
  background: #1f1b1b;
  font-family: 'Inconsolata', mono, monospace;
  font-size: 14px;
  line-height: 130%;

  .CodeMirror-matchingtag {
    background: rgba(255, 150, 0, 0.15);
  }

  .CodeMirror-linenumber {
    color: #646464;
  }

  .cm-tab:not(:first-of-type) {
    background: url('img/ig.png') left repeat-y;
    opacity: 0.1;
   }
   
  .CodeMirror-activeline .CodeMirror-linenumber {
    background-color: #292523;
  }

  .CodeMirror-activeline-background {
    background: none;
  }

  .CodeMirror-foldgutter-open {
    color: #4F4F4F;
  }
  .CodeMirror-foldgutter-folded {
    color: #4F4F4F;
  }
  .CodeMirror-selected {
    background-color: #3D3D38;
  }
  .CodeMirror-gutters {
    //background-color: #231F1D;
    background-color: #1f1b1b;
    border-right: 0;
  }
  .CodeMirror-gutter {

  }
  .CodeMirror-cursor {
    border-left: 1px solid #ffffff;
  }
  .cm-meta {
    color: #a6e22e;
  }
  .cm-keyword {
    color: #f92673;
  }
  .cm-atom {
    color: #ae81ff;
  }
  .cm-number {
    color: #ae81ff;
  }
  .cm-def {
    color: #f8f8f2;
  }
  .cm-variable {
    color: #66d8ef;
  }
  .cm-variable-2 {
    color: #ffffff;
  }
  .cm-variable-3 {
    color: #ffffff;
  }
  .cm-property {
    color: #f8f8f2;
  }
  .cm-operator {
    color: #f8f8f2;
  }
  .cm-comment {
    color: #75715e;
  }
  .cm-string {
    color: #e6db74;
  }
  .cm-string-2 {
    color: #e6db74;
  }
  .cm-error {
    color: #ff0000;
  }
  .cm-qualifier {
    color: #555555;
  }
  .cm-builtin {
    color: #ffffff;
  }
  .cm-bracket {
    color: #f8f8f2;
  }
  .CodeMirror-matchingbracket {
    color: #44ff00;
    background-color: #32332B;
  }
  .CodeMirror-nonmatchingbracket {
    color: #FF0000;
    background-color: #777777;
  }
  .cm-tag {
    color: #f92673;
  }
  .cm-attribute {
    color: #a6e22e;
  }
  .cm-link {
    color: #221199;
  }
  .cm-matchhighlight {
    border-bottom: 1px dotted #FFFFFF;
  }
  .cm-searchhighlight {
    border-bottom: 1px dotted #FFFFFF;
  }

  .cm-searching {
    background: transparent;
    border-bottom: 1px solid #ffe792;
  }

  .CodeMirror-foldmarker {
    color: #fff;
    text-shadow: none;
  }
}

.revision-panel .expaned .revisionDiff .CodeMirror-merge-gap .CodeMirror-merge-r-connect {
  fill: #534b4b;
}


.region-center .CodeMirror.mode-css {
  .cm-property {
    color:#48beef;
  }

  .cm-builtin {
    color:#A6E22E;
  }

  .cm-qualifier {
    color:#a6e22e;
  }

  .cm-variable, .cm-variable-2, .cm-variable-3, .cm-string, .cm-string-2 {
    color:#e6db74;
  }
}
