---
layout: default
---

<div class="how-it-works">
<h2>My Inner World</h2>
{% for post in site.posts %}
{% if post.title == "Introduction" %}
<div class="how-it-works__body">
<div class="how-it-works__step">
<div class="how-it-works__step-title">{{ post.title }}</div>
<div class="how-it-works__step-body">{{ post.content }}</div>
{% endif %}
</div>
{% endfor %}
<div class="how-it-works__step">
<div class="how-it-works__step-title">Portfolio</div>
<div class="how-it-works__step-body">
           <div id="portfolio">
                    <div class="jcarousel">
                        <span class="slider"><span><p>Coming Soon...</p></span><p>Year: <br />Status:<br />Platform:<br />Info: <br /> Click To View</p></span>
                        <span class="slider"><span><p>Coming Soon...</p></span><p>Year: <br />Status:<br />Platform:<br />Info: <br /> Click To View</p></span>
                        <span class="slider"><span><p>Coming Soon...</p></span><p>Year: <br />Status:<br />Platform:<br />Info: <br /> Click To View</span>
                        <span class="slider"><span><p>Coming Soon...</p></span><p>Year: <br />Status:<br />Platform:<br />Info: <br /> Click To View</p></span>
                        <span class="slider"><span><p>Coming Soon...</p></span><p>Year: <br />Status:<br />Platform:<br />Info: <br /> Click To View</p></span>
                        <span class="slider"><span><p>Coming Soon...</p></span><p>Year: <br />Status:<br />Platform:<br />Info: <br /> Click To View</p></span>
                   </div>
           </div>

                <a href="#" class="jcarousel-control-prev"></a>
                <a href="#" class="jcarousel-control-next"></a>
                
                <p class="jcarousel-pagination">
                    
                </p>
        </div>
</div>
</div>

<div class="how-it-works__body">
    <article class="post">
    <h1>Blog</h1>
  {% for blog in site.posts %}
      {% unless blog.title == "Introduction" %}
      <h2><a href="{{ site.baseurl }}{{ blog.url }}">{{ blog.title }}</a></h2>
      {% if blog.title == "Coming Soon..." %}
      <div class="entry">
      {{ post.content }}
      {% else %}
      <div class="entry">
		{{ post.excerpt }}
      		<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {% endif %}
      </div>
      {% endunless %}


    </article>
  {% endfor %}
</div>
</div>