---
layout: default
---

<div class="how-it-works">
<h2>My Inner World</h2>
{% for post in site.posts %}
{% if post.title == "Introduction" %}
<div class="how-it-works__body">
<div class="how-it-works__step">
<div class="how-it-works__step-title">{{ post.title }}</div>
<div class="how-it-works__step-body">{{ post.content }}</div>
{% endif %}
</div>
{% endfor %}
<div class="how-it-works__step">
<div class="how-it-works__step-title">Portfolio</div>
<div class="how-it-works__step-body">
            <ul id="jobcarousel" class="jcarousel-careers">
                <li><a href="/careers#position_1" >Coming Soon...</a></li>
                <li><a href="/careers#position_2" >Coming Soon...</a></li>
                <li><a href="/careers#position_3" >Coming Soon...</a></li>
                <li><a href="/careers#position_4" >Coming Soon...</a></li>
            </ul>
        </div>
</div>
</div>

<script type="text/javascript">
            $(document).ready(function () {
        jQuery('#jobcarousel').jcarousel();
    });
</script>

<div class="how-it-works__body">
    <article class="post">
    <h1>Blog</h1>
  {% for blog in site.posts %}
      {% unless blog.title == "Introduction" %}
      <h2><a href="{{ site.baseurl }}{{ blog.url }}">{{ blog.title }}</a></h2>
      {% if blog.title == "Coming Soon..." %}
      <div class="entry">
      {{ post.content }}
      {% else %}
      <div class="entry">
		{{ post.excerpt }}
      		<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {% endif %}
      </div>
      {% endunless %}


    </article>
  {% endfor %}
</div>
</div>