/* MAIN STYL ======================================= */


/* import all global styl */
@import 'global'

/* import all screens */
@import 'login'
@import 'fileExplorer'
@import 'dialog'
@import 'wizard'
//@import 'editor'
//@import 'revisions'
//@import 'mainMenu'
//@import 'fileMenu'



// html, body, div, table, p, input
html, body
	color: color4
	font-family: dafaultFont
	font-size: defaultSize

body
	// height: calc(100% - 25px)
	// padding-top: 25px
	background: black