/* ICONS STYL */


/* Find & Replace - Bottom slidebar icons ======================= */
.case .icon
	background: url('img/explorer/match-case.png') no-repeat center
	background-size: 24px !important

.regex .icon
	background: url('img/explorer/regex.png') no-repeat center
	background-size: 24px !important


.case .toggle.active,
.regex .toggle.active
	background: url('img/explorer/check.png') no-repeat center
	background-size: 24px !important




/* Right Slidebar icons ======================= */
.simple-menu .menu-item-wrapp .menu-item-wrap-head:before
	content: ' '
	width: 48px
	height: 48px
	display: block
	position: relative
	flex: 0 0 48px


.find .menu-item-wrap-head:before
	background: url('img/explorer/find.png') no-repeat center
	background-size: 24px !important
	
.replace .menu-item-wrap-head:before
	background: url('img/explorer/replace.png') no-repeat center
	background-size: 24px !important
	
.undo .menu-item-wrap-head:before
	background: url('img/explorer/undo.png') no-repeat center
	background-size: 24px !important
	
.undo_selection .menu-item-wrap-head:before
	background: url('img/explorer/undo-selection.png') no-repeat center
	background-size: 24px !important
	
.redo .menu-item-wrap-head:before
	background: url('img/explorer/redo.png') no-repeat center
	background-size: 24px !important
	
.beautify .menu-item-wrap-head:before
	background: url('img/explorer/beautify.png') no-repeat center
	background-size: 24px !important
	
.indentLeft .menu-item-wrap-head:before
	background: url('img/explorer/indent-left.png') no-repeat center
	background-size: 24px !important
	
.indentRight .menu-item-wrap-head:before
	background: url('img/explorer/indent-right.png') no-repeat center
	background-size: 24px !important
	
.goto_line .menu-item-wrap-head:before
	background: url('img/explorer/goto-line.png') no-repeat center
	background-size: 24px !important
	
.refresh .menu-item-wrap-head:before,
.box-restart .menu-item-wrap-head:before
	background: url('img/explorer/reload.png') no-repeat center
	background-size: 24px !important
	
.reopen_with_encoding .menu-item-wrap-head:before
	background: url('img/explorer/reopen-encoding.png') no-repeat center
	background-size: 24px !important
	
.save_with_encoding .menu-item-wrap-head:before
	background: url('img/explorer/save-encoding.png') no-repeat center
	background-size: 24px !important
	
.save_file .menu-item-wrap-head:before
	background: url('img/explorer/save.png') no-repeat center
	background-size: 24px !important
	
.save_as .menu-item-wrap-head:before
	background: url('img/explorer/save-as.png') no-repeat center
	background-size: 24px !important
	
.save_all .menu-item-wrap-head:before
	background: url('img/explorer/save-all.png') no-repeat center
	background-size: 24px !important
	
.revisions .menu-item-wrap-head:before
	background: url('img/explorer/revisions.png') no-repeat center
	background-size: 24px !important
	
.share .menu-item-wrap-head:before,
.share-settings .menu-item-wrap-head:before
	background: url('img/explorer/share.png') no-repeat center
	background-size: 24px !important

.mode .menu-item-wrap-head:before
	background: url('img/explorer/file.png') no-repeat center
	background-size: 24px !important



/* Bottom Slidebar - Connection icons ======================= */
.new-connection .menu-item-wrap-head:before
	background: url('img/explorer/container.png') no-repeat center
	background-size: 24px !important

.new-project .menu-item-wrap-head:before
	background: url('img/explorer/project.png') no-repeat center
	background-size: 24px !important

.project-config .menu-item-wrap-head:before,
.settings .menu-item-wrap-head:before,
.box-config .menu-item-wrap-head:before
	background: url('img/explorer/config.png') no-repeat center
	background-size: 24px !important

.share-project .menu-item-wrap-head:before
	background: url('img/explorer/share.png') no-repeat center
	background-size: 24px !important

.switch-project .menu-item-wrap-head:before
	background: url('img/explorer/switch-project.png') no-repeat center
	background-size: 24px !important

.manage-projects .menu-item-wrap-head:before
	background: url('img/explorer/settings.png') no-repeat center
	background-size: 24px !important

.clone .menu-item-wrap-head:before
	background: url('img/explorer/clone.png') no-repeat center
	background-size: 24px !important

.paste .menu-item-wrap-head:before
	background: url('img/explorer/paste.png') no-repeat center
	background-size: 24px !important

.rename .menu-item-wrap-head:before
	background: url('img/explorer/rename.png') no-repeat center
	background-size: 24px !important

.permissions .menu-item-wrap-head:before
	background: url('img/explorer/permissions.png') no-repeat center
	background-size: 24px !important

.create-file .menu-item-wrap-head:before
	background: url('img/explorer/new-file.png') no-repeat center
	background-size: 24px !important

.create-folder .menu-item-wrap-head:before
	background: url('img/explorer/new-folder.png') no-repeat center
	background-size: 24px !important

.upload .menu-item-wrap-head:before
	background: url('img/explorer/upload.png') no-repeat center
	background-size: 24px !important

.ssh-terminal .menu-item-wrap-head:before
	background: url('img/explorer/ssh.png') no-repeat center
	background-size: 24px !important

.remove .menu-item-wrap-head:before,
.share-remove .menu-item-wrap-head:before
	background: url('img/explorer/delete.png') no-repeat center
	background-size: 24px !important

.destroy .menu-item-wrap-head:before
	background: url('img/explorer/destory.png') no-repeat center
	background-size: 24px !important

.box-turnon .menu-item-wrap-head:before
.box-turnoff .menu-item-wrap-head:before
	background: url('img/explorer/turn-off.png') no-repeat center
	background-size: 24px !important

.box-custom-stack .menu-item-wrap-head:before
	background: url('img/explorer/custom-stack.png') no-repeat center
	background-size: 24px !important

.box-info .menu-item-wrap-head:before
	background: url('img/explorer/info.png') no-repeat center
	background-size: 24px !important

.box-run .menu-item-wrap-head:before
	background: url('img/explorer/run.png') no-repeat center
	background-size: 24px !important

.box-stop .menu-item-wrap-head:before
	background: url('img/explorer/stop.png') no-repeat center
	background-size: 24px !important

.enable-always-on .menu-item-wrap-head:before,
.disable-always-on .menu-item-wrap-head:before
	background: url('img/explorer/always-on.png') no-repeat center
	background-size: 24px !important







/* File Explorer - Icons ======================= */

/* Header Icon is heandled in fileExplorer.styl */


/* Connections */
.connection.ssh .endor-node-inner-icon,
.destination-icon.ssh,
.filetype.connection.ssh,
.left-tab-icon.connection.ssh,
.left-tab-icon.connection.ssh-terminal,
.left-tab-icon.ssh-terminal
	background: url('img/explorer/ssh.png') center no-repeat
	background-size: 30px

.connection.devbox .endor-node-inner-icon,
.destination-icon.devbox,
.filetype.connection.devbox,
.left-tab-icon.connection.devbox
	background: url('img/explorer/container.png') center no-repeat
	background-size: 30px

.connection.dropbox .endor-node-inner-icon,
.destination-icon.dropbox,
.filetype.connection.dropbox,
.left-tab-icon.connection.dropbox
	background: url('img/explorer/dropbox.png') center no-repeat
	background-size: 28px

.connection.gdrive .endor-node-inner-icon,
.destination-icon.gdrive,
.filetype.connection.gdrive,
.left-tab-icon.connection.gdrive
	background: url('img/explorer/drive.png') center no-repeat
	background-size: 28px

.connection.s3 .endor-node-inner-icon,
.destination-icon.s3,
.filetype.connection.s3,
.left-tab-icon.connection.s3
	background: url('img/explorer/amazons3.png') center no-repeat
	background-size: 26px

.connection.ftp .endor-node-inner-icon,
.connection.sftp .endor-node-inner-icon,
.destination-icon.ftp,
.destination-icon.sftp,
.filetype.connection.ftp,
.filetype.connection.sftp,
.left-tab-icon.connection.ftp,
.left-tab-icon.connection.sftp
	background: url('img/explorer/ftp.png') center no-repeat
	background-size: 24px

.connection.onedrive .endor-node-inner-icon,
.destination-icon.onedrive,
.filetype.connection.onedrive,
.left-tab-icon.connection.onedrive
	background: url("img/files2x/onedrive.png") no-repeat center




/* Folders and Files */
.folder .endor-node-inner-icon,
.destination-icon.folder,
.filetype.folder,
.left-tab-icon.folder
	background: url('img/explorer/folder.png') center no-repeat
	background-size: 24px !important

.folder.info-top-icon
	background: url('img/explorer/folder.png') center no-repeat



.file .endor-node-inner-icon,
.filetype.file,
.left-tab-icon.file
	background: url('img/explorer/file.png') center no-repeat
	background: url("img/files2x/file-default@2x.png") center no-repeat
	background-size: 24px !important




/* File Types */

// .connection .endor-node-inner-icon
// 	background: url("img/files2x/service-ftp.png") no-repeat center

.file.ai .endor-node-inner-icon,
.file.ai.info-top-icon,
.filetype.file.ai,
.left-tab-icon.file.ai
	background: url("img/files2x/file-ai@2x.png") no-repeat center

.file.app .endor-node-inner-icon,
.file.app.info-top-icon,
.filetype.file.app,
.left-tab-icon.file.app
	background: url("img/files2x/file-app@2x.png") no-repeat center

.file.arhive .endor-node-inner-icon,
.file.arhive.info-top-icon,
.filetype.file.arhive,
.left-tab-icon.file.arhive
	background: url("img/files2x/file-arhive@2x.png") no-repeat center

.file.asp .endor-node-inner-icon,
.file.asp.info-top-icon,
.filetype.file.asp,
.left-tab-icon.file.asp
	background: url("img/files2x/file-asp@2x.png") no-repeat center

.file.audio .endor-node-inner-icon,
.file.audio.info-top-icon,
.filetype.file.audio,
.left-tab-icon.file.audio
	background: url("img/files2x/file-audio@2x.png") no-repeat center

.file.boxes .endor-node-inner-icon,
.file.boxes.info-top-icon,
.filetype.file.boxes,
.left-tab-icon.file.boxes
	background: url("img/files2x/file-boxes@2x.png") no-repeat center

.file.c .endor-node-inner-icon,
.file.c.info-top-icon,
.filetype.file.c,
.left-tab-icon.file.c
	background: url("img/files2x/file-c@2x.png") no-repeat center

.file.cf .endor-node-inner-icon,
.file.cf.info-top-icon,
.filetype.file.cf,
.left-tab-icon.file.cf
	background: url("img/files2x/file-cf@2x.png") no-repeat center

.file.cfg .endor-node-inner-icon,
.file.cfg.info-top-icon,
.filetype.file.cfg,
.left-tab-icon.file.cfg
	background: url("img/files2x/file-cfg@2x.png") no-repeat center

.file.code .endor-node-inner-icon,
.file.code.info-top-icon,
.filetype.file.code,
.left-tab-icon.file.code
	background: url("img/files2x/file-code@2x.png") no-repeat center

.file.css .endor-node-inner-icon,
.file.css.info-top-icon,
.filetype.file.css,
.left-tab-icon.file.css
	background: url("img/files2x/file-css@2x.png") no-repeat center

.file.csv .endor-node-inner-icon,
.file.csv.info-top-icon,
.filetype.file.csv,
.left-tab-icon.file.csv
	background: url("img/files2x/file-csv@2x.png") no-repeat center

.file.db .endor-node-inner-icon,
.file.db.info-top-icon,
.filetype.file.db,
.left-tab-icon.file.db
	background: url("img/files2x/file-db@2x.png") no-repeat center

.file.dmg .endor-node-inner-icon,
.file.dmg.info-top-icon,
.filetype.file.dmg,
.left-tab-icon.file.dmg
	background: url("img/files2x/file-dmg@2x.png") no-repeat center

.file.docx .endor-node-inner-icon,
.file.doc .endor-node-inner-icon,
.file.docx.info-top-icon,
.file.doc.info-top-icon,
.filetype.file.docx,
.filetype.file.doc,
.left-tab-icon.file.docx,
.left-tab-icon.file.doc
	background: url("img/files2x/file-doc@2x.png") no-repeat center

.file.dxf .endor-node-inner-icon,
.file.dxf.info-top-icon,
.filetype.file.dxf,
.left-tab-icon.file.dxf
	background: url("img/files2x/file-dxf@2x.png") no-repeat center

.file.fl .endor-node-inner-icon,
.file.fl.info-top-icon,
.filetype.file.fl,
.left-tab-icon.file.fl
	background: url("img/files2x/file-fl@2x.png") no-repeat center

.file.githubfile .endor-node-inner-icon,
.file.githubfile.info-top-icon,
.filetype.file.githubfile,
.left-tab-icon.file.githubfile
	background: url("img/files2x/file-githubfile@2x.png") no-repeat center

.file.githubcommits .endor-node-inner-icon,
.file.githubcommits.info-top-icon,
.filetype.file.githubcommits,
.left-tab-icon.file.githubcommits
	background: url("img/files2x/file-githubcommits@2x.png") no-repeat center

.file.html .endor-node-inner-icon,
.file.htm .endor-node-inner-icon,
.file.xml .endor-node-inner-icon,
.file.html.info-top-icon,
.file.htm.info-top-icon,
.file.xml.info-top-icon,
.filetype.file.html,
.filetype.file.htm,
.filetype.file.xml,
.left-tab-icon.file.html,
.left-tab-icon.file.htm,
.left-tab-icon.file.xml,
.bottom-slidebar .file.html,
.bottom-slidebar .file.htm,
.bottom-slidebar .file.xml
	background: url("img/files2x/file-html@2x.png") no-repeat center

.file.img .endor-node-inner-icon,
.file.png .endor-node-inner-icon,
.file.jpg .endor-node-inner-icon,
.file.gif .endor-node-inner-icon,
.file.svg .endor-node-inner-icon,
.file.ico .endor-node-inner-icon,
.file.img.info-top-icon,
.file.png.info-top-icon,
.file.jpg.info-top-icon,
.file.gif.info-top-icon,
.file.svg.info-top-icon,
.file.ico.info-top-icon,
.filetype.file.img,
.filetype.file.png,
.filetype.file.jpg,
.filetype.file.gif,
.filetype.file.svg,
.filetype.file.ico,
.left-tab-icon.file.img,
.left-tab-icon.file.png,
.left-tab-icon.file.jpg,
.left-tab-icon.file.gif,
.left-tab-icon.file.svg,
.left-tab-icon.file.ico
	background: url("img/files2x/file-image@2x.png") no-repeat center

.file.indd .endor-node-inner-icon,
.file.indd.info-top-icon,
.filetype.file.indd,
.left-tab-icon.file.indd
	background: url("img/files2x/file-indd@2x.png") no-repeat center

.file.js .endor-node-inner-icon,
.file.js.info-top-icon,
.filetype.file.js,
.left-tab-icon.file.js
	background: url("img/files2x/file-js@2x.png") no-repeat center

.file.mdb .endor-node-inner-icon,
.file.mdb.info-top-icon,
.filetype.file.mdb,
.left-tab-icon.file.mdb
	background: url("img/files2x/file-mdb@2x.png") no-repeat center

.file.mov .endor-node-inner-icon,
.file.mov.info-top-icon,
.filetype.file.mov,
.left-tab-icon.file.mov
	background: url("img/files2x/file-mov@2x.png") no-repeat center

.file.mpp .endor-node-inner-icon,
.file.mpp.info-top-icon,
.filetype.file.mpp,
.left-tab-icon.file.mpp
	background: url("img/files2x/file-mpp@2x.png") no-repeat center

.file.msg .endor-node-inner-icon,
.file.msg.info-top-icon,
.filetype.file.msg,
.left-tab-icon.file.msg
	background: url("img/files2x/file-msg@2x.png") no-repeat center

.file.page .endor-node-inner-icon,
.file.page.info-top-icon,
.filetype.file.page,
.left-tab-icon.file.page
	background: url("img/files2x/file-page@2x.png") no-repeat center

.file.part .endor-node-inner-icon,
.file.part.info-top-icon,
.filetype.file.part,
.left-tab-icon.file.part
	background: url("img/files2x/file-part@2x.png") no-repeat center

.file.pdf .endor-node-inner-icon,
.file.pdf.info-top-icon,
.filetype.file.pdf,
.left-tab-icon.file.pdf
	background: url("img/files2x/file-pdf@2x.png") no-repeat center

.file.pdf1 .endor-node-inner-icon,
.file.pdf1.info-top-icon,
.filetype.file.pdf1,
.left-tab-icon.file.pdf1
	background: url("img/files2x/file-pdf1@2x.png") no-repeat center

.file.pdf2 .endor-node-inner-icon,
.file.pdf2.info-top-icon,
.filetype.file.pdf2,
.left-tab-icon.file.pdf2
	background: url("img/files2x/file-pdf2@2x.png") no-repeat center

.file.php .endor-node-inner-icon,
.file.php.info-top-icon,
.filetype.file.php,
.left-tab-icon.file.php
	background: url("img/files2x/file-php@2x.png") no-repeat center

.file.pptx .endor-node-inner-icon,
.file.ppt .endor-node-inner-icon,
.file.pptx.info-top-icon,
.file.ppt.info-top-icon,
.filetype.file.pptx,
.filetype.file.ppt,
.left-tab-icon.file.pptx,
.left-tab-icon.file.ppt
	background: url("img/files2x/file-ppt1@2x.png") no-repeat center

.file.psd .endor-node-inner-icon,
.file.psd.info-top-icon,
.filetype.file.psd,
.left-tab-icon.file.psd
	background: url("img/files2x/file-psd@2x.png") no-repeat center

.file.py .endor-node-inner-icon,
.file.python .endor-node-inner-icon,
.file.py.info-top-icon,
.file.python.info-top-icon,
.filetype.file.py,
.filetype.file.python,
.left-tab-icon.file.py,
.left-tab-icon.file.python
	background: url("img/files2x/file-python@2x.png") no-repeat center

.file.go .endor-node-inner-icon,
.file.go.info-top-icon,
.filetype.file.go,
.left-tab-icon.file.go
	background: url("img/files2x/file-go@2x.png") no-repeat center

.file.qxd .endor-node-inner-icon,
.file.qxd.info-top-icon,
.filetype.file.qxd,
.left-tab-icon.file.qxd
	background: url("img/files2x/file-qxd@2x.png") no-repeat center

.file.repo .endor-node-inner-icon,
.file.repo.info-top-icon,
.filetype.file.repo,
.left-tab-icon.file.repo
	background: url("img/files2x/file-repo@2x.png") no-repeat center

.file.swf .endor-node-inner-icon,
.file.swf.info-top-icon,
.filetype.file.swf,
.left-tab-icon.file.swf
	background: url("img/files2x/file-swf@2x.png") no-repeat center

.file.temp .endor-node-inner-icon,
.file.temp.info-top-icon,
.filetype.file.temp,
.left-tab-icon.file.temp
	background: url("img/files2x/file-temp@2x.png") no-repeat center

.file.torrent .endor-node-inner-icon,
.file.torrent.info-top-icon,
.filetype.file.torrent,
.left-tab-icon.file.torrent
	background: url("img/files2x/file-torrent@2x.png") no-repeat center

.file.styl .endor-node-inner-icon,
.file.styl.info-top-icon,
.filetype.file.styl,
.left-tab-icon.file.styl
	background: url("img/files2x/file-stylus@2x.png") no-repeat center

.file.ttf .endor-node-inner-icon,
.file.ttf.info-top-icon,
.filetype.file.ttf,
.left-tab-icon.file.ttf
	background: url("img/files2x/file-font@2x.png") no-repeat center

.file.txt .endor-node-inner-icon,
.file.txt.info-top-icon,
.filetype.file.txt,
.left-tab-icon.file.txt
	background: url("img/files2x/file-text@2x.png") no-repeat center

.file.vbs .endor-node-inner-icon,
.file.vbs.info-top-icon,
.filetype.file.vbs,
.left-tab-icon.file.vbs
	background: url("img/files2x/file-vbs@2x.png") no-repeat center

.file.video .endor-node-inner-icon,
.file.video.info-top-icon,
.filetype.file.video,
.left-tab-icon.file.video
	background: url("img/files2x/file-video@2x.png") no-repeat center

.file.xlsx .endor-node-inner-icon,
.file.xls .endor-node-inner-icon,
.file.xlsx.info-top-icon,
.file.xls.info-top-icon,
.filetype.file.xlsx,
.filetype.file.xls,
.left-tab-icon.file.xlsx,
.left-tab-icon.file.xls
	background: url("img/files2x/file-xls1@2x.png") no-repeat center

.folder-ftp .endor-node-inner-icon,
.folder-ftp.info-top-icon,
.filetype.file.folder-ftp,
.left-tab-icon.file.folder-ftp
	background: url("img/files2x/folder-ftp@2x.png") no-repeat center

.folder-link .endor-node-inner-icon,
.folder-link.info-top-icon,
.filetype.file.folder-link,
.left-tab-icon.file.folder-link
	background: url("img/files2x/folder-link@2x.png") no-repeat center



/* ============================================ */



.file.less .endor-node-inner-icon,
.file.less.info-top-icon,
.filetype.file.less,
.left-tab-icon.file.less
	background: url("img/files2x/file-less@2x.png") no-repeat center

.file.ts .endor-node-inner-icon,
.file.ts.info-top-icon,
.filetype.file.ts,
.left-tab-icon.file.ts
	background: url("img/files2x/file-typescript@2x.png") no-repeat center

.file.swift .endor-node-inner-icon,
.file.swift.info-top-icon,
.filetype.file.swift,
.left-tab-icon.file.swift
	background: url("img/files2x/file-swift@2x.png") no-repeat center

.file.sql .endor-node-inner-icon,
.file.sql.info-top-icon,
.filetype.file.sql,
.left-tab-icon.file.sql
	background: url("img/files2x/file-sql@2x.png") no-repeat center

.file.sass .endor-node-inner-icon,
.file.sass.info-top-icon,
.filetype.file.sass,
.left-tab-icon.file.sass
	background: url("img/files2x/file-sass@2x.png") no-repeat center

.file.ruby .endor-node-inner-icon,
.file.ruby.info-top-icon,
.filetype.file.ruby,
.left-tab-icon.file.ruby
	background: url("img/files2x/file-ruby@2x.png") no-repeat center

.file.rails .endor-node-inner-icon,
.file.rails.info-top-icon,
.filetype.file.rails,
.left-tab-icon.file.rails
	background: url("img/files2x/file-rails@2x.png") no-repeat center

.file.pl .endor-node-inner-icon,
.file.pl.info-top-icon,
.filetype.file.pl,
.left-tab-icon.file.pl
	background: url("img/files2x/file-perl@2x.png") no-repeat center

.file.npm .endor-node-inner-icon,
.file.npm.info-top-icon,
.filetype.file.npm,
.left-tab-icon.file.npm
	background: url("img/files2x/file-npm@2x.png") no-repeat center

.file.coffee .endor-node-inner-icon,
.file.coffee.info-top-icon,
.filetype.file.coffee,
.left-tab-icon.file.coffee
	background: url("img/files2x/file-coffescript@2x.png") no-repeat center

.file.lua .endor-node-inner-icon,
.file.lua.info-top-icon,
.filetype.file.lua,
.left-tab-icon.file.lua
	background: url("img/files2x/file-lua@2x.png") no-repeat center

.file.docker .endor-node-inner-icon,
.file.docker.info-top-icon,
.filetype.file.docker,
.left-tab-icon.file.docker
	background: url("img/files2x/file-docker@2x.png") no-repeat center

.file.java .endor-node-inner-icon,
.file.java.info-top-icon,
.filetype.file.java,
.left-tab-icon.file.java
	background: url("img/files2x/file-java@2x.png") no-repeat center

.file.glup .endor-node-inner-icon,
.file.glup.info-top-icon,
.filetype.file.glup,
.left-tab-icon.file.glup
	background: url("img/files2x/file-gulpfile@2x.png") no-repeat center

.file.cpp .endor-node-inner-icon,
.file.cpp.info-top-icon,
.filetype.file.cpp,
.left-tab-icon.file.cpp
	background: url("img/files2x/file-cpp@2x.png") no-repeat center

.file.as .endor-node-inner-icon,
.file.as.info-top-icon,
.filetype.file.as,
.left-tab-icon.file.as
	background: url("img/files2x/file-actionscript@2x.png") no-repeat center

.file.md .endor-node-inner-icon,
.file.md.info-top-icon,
.filetype.file.md,
.left-tab-icon.file.md
	background: url("img/files2x/file-markdown@2x.png") no-repeat center

.file.scpt .endor-node-inner-icon,
.file.AppleScript .endor-node-inner-icon,
.file.scpt.info-top-icon,
.file.AppleScript.info-top-icon,
.filetype.file.scpt,
.filetype.file.AppleScript,
.left-tab-icon.file.scpt,
.left-tab-icon.file.AppleScript
	background: url("img/files2x/file-applescript@2x.png") no-repeat center

.file.git .endor-node-inner-icon,
.file.gitignore .endor-node-inner-icon,
.file.gitmodules .endor-node-inner-icon,
.file.git.info-top-icon,
.file.gitignore.info-top-icon,
.file.gitmodules.info-top-icon,
.filetype.file.git,
.filetype.file.gitignore,
.filetype.file.gitmodules,
.left-tab-icon.file.git,
.left-tab-icon.file.gitignore,
.left-tab-icon.file.gitmodules
	background: url("img/files2x/file-git@2x.png") no-repeat center

.file.htaccess .endor-node-inner-icon,
.file.htaccess.info-top-icon,
.filetype.file.htaccess,
.left-tab-icon.file.htaccess
	background: url("img/files2x/file-tcl@2x.png") no-repeat center

.file.json .endor-node-inner-icon,
.file.json.info-top-icon,
.filetype.file.json,
.left-tab-icon.file.json
	background: url("img/files2x/file-json@2x.png") no-repeat center

.file.ejs .endor-node-inner-icon,
.file.ejs.info-top-icon,
.filetype.file.ejs,
.left-tab-icon.file.ejs
	background: url("img/files2x/file-ejs@2x.png") no-repeat center





/* Connection icons - currnetly don't know if we need this */

/*
.connection.bitbucket .endor-node-inner-icon
	background: url("img/files/service-bitbucket1.png") no-repeat center

.connection.box .endor-node-inner-icon
	background: url("img/files/service-box1.png") no-repeat center

.connection.cloud .endor-node-inner-icon
	background: url("img/files/service-cloud21.png") no-repeat center

.connection.devbox .endor-node-inner-icon
	background: url("img/files/service-container.png") no-repeat center

.connection.devbox.alwayson .endor-node-inner-icon
	background: url("img/context/always-on.png") no-repeat center

.connection.gdrive .endor-node-inner-icon
	background: url("img/files/service-gdrive1.png") no-repeat center

.connection.dropbox .endor-node-inner-icon
	background: url("img/files/service-dropbox1.png") no-repeat center

.connection.ftp .endor-node-inner-icon
	background: url("img/files/service-ftp1.png") no-repeat center

.connection.github .endor-node-inner-icon
	background: url("img/files/service-github1.png") no-repeat center

.connection.s3 .endor-node-inner-icon
	background: url("img/files/service-s31.png") no-repeat center

.connection.sandbox .endor-node-inner-icon
	background: url("img/files/service-sandbox1.png") no-repeat center

.connection.server .endor-node-inner-icon
	background: url("img/files/service-server1.png") no-repeat center

.connection.servers .endor-node-inner-icon
	background: url("img/files/service-servers1.png") no-repeat center

.connection.ssh-terminal .endor-node-inner-icon
	background: url("img/files/service-ssh-terminal1.png") no-repeat center

.connection.ssh .endor-node-inner-icon
	background: url("img/files/ssh1.png") no-repeat center

.connection.ssh.digitalocean .endor-node-inner-icon
	background: url("img/files/digitalocean.png") no-repeat center
	
.connection.swift .endor-node-inner-icon
	background: url("img/files2x/file-swift@2x.png") no-repeat center

*/






/* Wizard - Stack Icons ================================= */
.wiz-row__icon
	background-size: 24px !important

.wiz-row__icon.default
	background: url("img/wizard/blank.png") no-repeat center

.wiz-row__icon.angularjs
	background: url("img/wizard/angular.png") no-repeat center

.wiz-row__icon.backbonejs
	background: url("img/wizard/backbone.png") no-repeat center

.wiz-row__icon.bitbucket
	background: url("img/wizard/bitbucket.png") no-repeat center

.wiz-row__icon.cpp
	background: url("img/wizard/c.png") no-repeat center

.wiz-row__icon.cakephp
	background: url("img/wizard/cakephp.png") no-repeat center

.wiz-row__icon.centos
	background: url("img/wizard/centos.png") no-repeat center

.wiz-row__icon.drupal
	background: url("img/wizard/drupal.png") no-repeat center

.wiz-row__icon.ember
	background: url("img/wizard/ember.png") no-repeat center

.wiz-row__icon.go
	background: url("img/wizard/go.png") no-repeat center

.wiz-row__icon.html
	background: url("img/wizard/html.png") no-repeat center

.wiz-row__icon.iojs
	background: url("img/wizard/io.png") no-repeat center

.wiz-row__icon.java
	background: url("img/wizard/java.png") no-repeat center

.wiz-row__icon.laravel,
.wiz-row__icon.laravel5
	background: url("img/wizard/laravel.png") no-repeat center

.wiz-row__icon.loopback
	background: url("img/wizard/loopback.png") no-repeat center

.wiz-row__icon.mean
	background: url("img/wizard/mean.png") no-repeat center

.wiz-row__icon.meteor
	background: url("img/wizard/meteor.png") no-repeat center

.wiz-row__icon.nodejs,
.wiz-row__icon.node
	background: url("img/wizard/nodejs.png") no-repeat center

.wiz-row__icon.php,
.wiz-row__icon.php7
	background: url("img/wizard/php.png") no-repeat center

.wiz-row__icon.python,
.wiz-row__icon.python3
	background: url("img/wizard/python.png") no-repeat center

.wiz-row__icon.ruby
	background: url("img/wizard/ruby.png") no-repeat center

.wiz-row__icon.s3
	background: url("img/wizard/s3.png") no-repeat center

.wiz-row__icon.sails
	background: url("img/wizard/sails.png") no-repeat center

.wiz-row__icon.swift
	background: url("img/wizard/swift.png") no-repeat center

.wiz-row__icon.symfony
	background: url("img/wizard/symfony.png") no-repeat center

.wiz-row__icon.ubuntu
	background: url("img/wizard/ubuntu.png") no-repeat center

.wiz-row__icon.wordpress
	background: url("img/wizard/wp.png") no-repeat center

.wiz-row__icon.github
	background: url("img/wizard/github.png") no-repeat center

.wiz-row__icon.dotnet
	background: url("img/wizard/dotnet.png") no-repeat center

.wiz-row__icon.firehose
	background: url("img/wizard/firehose.png") no-repeat center




/* Wizard - Stack Icons - Digitalocean */
.wiz-row__icon.cassandra
	background: url("img/wizard/digitalocean/cassandra.png") no-repeat center

.wiz-row__icon.centos
	background: url("img/wizard/digitalocean/centos.png") no-repeat center

.wiz-row__icon.coreos
	background: url("img/wizard/digitalocean/coreos.png") no-repeat center

.wiz-row__icon.debian
	background: url("img/wizard/digitalocean/debian.png") no-repeat center

.wiz-row__icon.discourse
	background: url("img/wizard/digitalocean/discourse.png") no-repeat center

.wiz-row__icon.django
	background: url("img/wizard/digitalocean/django.png") no-repeat center

.wiz-row__icon.docker
	background: url("img/wizard/digitalocean/docker.png") no-repeat center

.wiz-row__icon.dokku
	background: url("img/wizard/digitalocean/dokku.png") no-repeat center

.wiz-row__icon.drone
	background: url("img/wizard/digitalocean/drone.png") no-repeat center

.wiz-row__icon.drupal
	background: url("img/wizard/digitalocean/drupal.png") no-repeat center

.wiz-row__icon.elixir
	background: url("img/wizard/digitalocean/elixir.png") no-repeat center

.wiz-row__icon.elk
	background: url("img/wizard/digitalocean/elk.png") no-repeat center

.wiz-row__icon.fedora
	background: url("img/wizard/digitalocean/fedora.png") no-repeat center

.wiz-row__icon.freebsd
	background: url("img/wizard/digitalocean/freebsd.png") no-repeat center

.wiz-row__icon.ghost
	background: url("img/wizard/digitalocean/ghost.png") no-repeat center

.wiz-row__icon.gitlab
	background: url("img/wizard/digitalocean/gitlab.png") no-repeat center

.wiz-row__icon.joomla
	background: url("img/wizard/digitalocean/joomla.png") no-repeat center

.wiz-row__icon.lamp
	background: url("img/wizard/digitalocean/lamp.png") no-repeat center

.wiz-row__icon.lemp
	background: url("img/wizard/digitalocean/lemp.png") no-repeat center

.wiz-row__icon.magento
	background: url("img/wizard/digitalocean/magento.png") no-repeat center

.wiz-row__icon.mediawiki
	background: url("img/wizard/digitalocean/mediawiki.png") no-repeat center

.wiz-row__icon.mongodb
	background: url("img/wizard/digitalocean/mongodb.png") no-repeat center

.wiz-row__icon.mumble
	background: url("img/wizard/digitalocean/mumble.png") no-repeat center

.wiz-row__icon.owncloud
	background: url("img/wizard/digitalocean/owncloud.png") no-repeat center

.wiz-row__icon.phpmyadmin
	background: url("img/wizard/digitalocean/phpmyadmin.png") no-repeat center

.wiz-row__icon.redis
	background: url("img/wizard/digitalocean/redis.png") no-repeat center

.wiz-row__icon.redmine
	background: url("img/wizard/digitalocean/redmine.png") no-repeat center

.wiz-row__icon.ubuntu
	background: url("img/wizard/digitalocean/ubuntu.png") no-repeat center







/* Notification - Icons ======================= */
.notification-item .icon
	background-size: 24px

.notification-item.ca .icon
	background: url("img/notifications/ca-logo-mini.png") no-repeat center

.notification-item.finish .icon
	background: url("img/notifications/yes.png") no-repeat center

.notification-item.fail .icon
	background: url("img/notifications/no.png") no-repeat center

.notification-item.in-progress .icon
	background: url("img/notifications/loader56@28.png") no-repeat center
	background-size: 24px
	a-rotate(1s)








