/* BUTTONS ======================================= */


/* LOGIN BUTTON ======================================= */

.login-body
	
	button
		display: block
		width: auto !important
		min-width: 64px !important
		height: 36px !important
		border: none
		outline: none
		color: color7
		text-transform: uppercase
		background: color6
		float: right
		margin-right: 16px
		padding: 0 16px
		box-shadow(shadowLvl1)




/* DIALOG BUTTON ======================================= */

button
	display: block
	width: auto !important
	min-width: 64px !important
	height: 36px !important
	border: none
	outline: none
	color: color4
	text-transform: uppercase
	background: color0
	float: right
	padding: 0 16px





/* PLUS-BUTTON ======================================= */

.plus-button
	flexbox()
	flex-center()
	box-shadow(shadowLvl3)
	right: 15px
	bottom: 15px
	width: 50px !important
	height: 50px !important
	border-radius(100%)
	position: absolute
	z-index: 100
	font-size: 30px
	font-weight: 100
	color: color2
	background: color4