/* ALERT-BOT STYL ======================================= */

.alert-bot
    position: fixed
    bottom: 0
    width: 100%
    height: 56px
    flexbox()
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    box-sizing()
    padding: 0 16px
    z-index: 1010
    background: color3

    .alert-bot__message
        color: color7