/* GLOBAL ======================================= */

/* variables & mixins */
@import 'global/variables'
@import 'global/mixins'


/* all global styl */
@import 'global/colorPalete-dark'
@import 'global/input'
@import 'global/select'
@import 'global/checkbox'
@import 'global/buttons'
@import 'global/keyboardPlugin'


*
	margin: 0
	padding: 0
	
	// color: defaultColor
	
img
	border: none