/* using codemirrors default theme */
.CodeMirror {
  font-size: 14px;
}
.CodeMirror-gutters {
  /*background-color: #231F1D;*/
  background-color: #fff;
  border-right: 0;
}

.CodeMirror-linenumber {
  color: #939395;
}


.CodeMirror .cm-matchhighlight {
  border-bottom: 1px dotted #333;
}
.CodeMirror .cm-searchhighlight {
  border-bottom: 1px dotted #333;
}

.CodeMirror .cm-tab:not(:first-of-type) {
  background: url("img/ig.png") left repeat-y;
  opacity: 1;
}





.revision-panel .expaned .revisionDiff .CodeMirror-merge-gap .CodeMirror-merge-r-connect {
  fill: #d2d2d2 !important;
}
.revision-panel .expaned .revisionDiff .CodeMirror-merge .CodeMirror-merge-r-chunk {
  background-color: #d2d2d2 !important;
}
.revision-panel .expaned .revisionDiff .CodeMirror-merge .CodeMirror-merge-r-chunk-start {
  border-top: 1px solid #d2d2d2 !important;
}
.revision-panel .expaned .revisionDiff .CodeMirror-merge .CodeMirror-merge-collapsed-widget {
  color: #939395 !important;
  background: transparent !important;
}






